# Configuración de Base de Datos MySQL
DB_HOST=srv883.hstgr.io
DB_PORT=3306
DB_USERNAME=u260978850_king_perfum
DB_PASSWORD=9J/b&99Ry8y
DB_DATABASE=u260978850_king_perfum

# Para Render.com u otros servicios en la nube (usa true)
DB_SSL=false

# Servidor
PORT=3000

# Entorno (development | production)
NODE_ENV=development
